:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /*Melhorando a qualidade das fontes (textos) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;

  background: #121214;
}

#page {
  padding: 3rem;

  display: grid;
  place-content: center;
  gap: 6rem;
}

header h1 {
  color: #02799d;
  font-size: 3.8rem;
  font-weight: 900;

  margin-bottom: 1.6rem;
}

header p {
  color: #e1e1e6;
  font-size: 2.4rem;
  font-weight: 600;
}

main {
  display: grid;
  place-content: center;
  gap: 6rem;
}

.card-galaxy {
  background: #202024;
  max-width: 37rem;

  /* Esconder a parte da imagem que transbordou por conta das bordas arredondadas do card. */
  overflow: hidden;

  border: 2px solid #323238;
  border-radius: 8px;
}

.card-galaxy img {
  width: 100%;
}

.card-galaxy h2 {
  color: #e1e1e6;
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;

  margin-block: 2.4rem;
}

.card-galaxy p {
  color: #c4c4cc;
  font-weight: 600;
  text-align: center;

  padding: 0 2.2rem 3.8rem;
}

@media (min-width: 1200px) {
  body {
    font-size: 2rem;
  }

  #page {
    padding: 7.3rem 10rem;
  }

  header h1 {
    font-size: 6rem;

    margin-bottom: 0.8rem;
  }

  header p {
    font-size: 3.2rem;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4.4rem;
  }

  .card-galaxy h2 {
    font-size: 3.6rem;
  }

  .card-galaxy p {
    text-align: justify;
  }
}
